*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 30px;
    margin: 30px;
    background:linear-gradient(to bottom, rgb(177, 228, 212), rgb(196, 238, 198), rgb(227, 185, 243)), no-repeat;
}
#Header{
   text-align: right;
   display: inline;
}
.User-Message{
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    line-height: 50px;
    color: brown;
    font-weight: bold;
    font-size: larger;
}
.User-Message h3{
    margin-right: 50px;
}

.NavList{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.NavList li a{
    text-align: center;
    text-decoration:none;
    color: rgb(14, 10, 10);
}
.NavList li a:hover{
    color:rgb(20, 13, 13);
}

.NavList li:hover{
    background: whitesmoke;
    transform: translate3d(-0.5%);
    transition: 0.5s;
    box-shadow: 4px 8px 6px 3px #29252500;
}
.NavList li{
    width: 120px;
    text-align: center;
    margin: 20px;
    color: rgb(5, 4, 4);
    background: rgba(206, 147, 147, 0.541);
    list-style:none;
    border-radius: 15px;
}
.user-info{
    width: 100%;
    display: inline-flex;
    justify-items: center;
}
.form-input{
    margin: 5px;
    width: 150px;
    height: 120px;
    text-align: center;
    /* border: 2px solid red; */
    cursor: pointer;
    background: rgb(65, 64, 64);
    color: whitesmoke;
    border-radius: 15% 15% 50% 50%;
}
.form-input:hover{
    background: rgb(253, 255, 255);
    color: rgb(24, 5, 5);
    border-radius: 15% 15% 50% 50%;
    transition: 0.7s;
    transform: skewY(0.5%);
    translate: 5%;
}
.form-input h4{
    margin-top: 20%;
}
hr{
    color: wheat;
    margin-top: 50px;
    width: 30%;
}
.BMI-Index{
    margin-left: 40%;
    width: 200px;
    height: 100px;
    /* border: 2px solid rgb(230, 83, 64); */
    background: rgb(241, 211, 241);
}
.BMI-Index:hover{
    background: rgb(252, 252, 252);
    transform: skewY(0.5%);
    translate: 5%;
    transition: 0.5s;
}
.BMI-Index h4, p{
    text-align: center;
    margin: 20px;
}
